/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
.container, .uses-hero-container, .nav-menu-footer, .nav-menu-container, nav {
  margin: 0 2rem;
}
@media (min-width: 360px) and (max-width: 414px) {
  .container, .uses-hero-container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .container, .uses-hero-container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 5rem;
    max-width: 1280px;
  }
}
@media (min-width: 1366px) and (max-width: 1920px) {
  .container, .uses-hero-container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 8rem;
    max-width: 1920px;
  }
}

.nav-menu-footer .nav-menu-social-links a, a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.nav-menu-footer .nav-menu-social-links a:hover, a:hover {
  color: #101010;
  transition: 0.25s ease-in-out;
}

@supports (-webkit-text-stroke: 1px #8c8c8c) {
  .project-number, .about-hero-date, .about-hero-header-container span, .uses-hero-header span {
    -webkit-text-stroke: 1px #8c8c8c;
    -webkit-text-fill-color: #101010;
  }
}
.nav-menu-page-link a {
  position: relative;
  color: transparent;
}
.nav-menu-page-link a:before {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: 0.5s;
  color: #ffffff;
}
.nav-menu-page-link a:hover:before {
  transform: translateX(100%);
  opacity: 0;
}
.nav-menu-page-link a:after {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0;
}
@supports (-webkit-text-stroke: 1px #8c8c8c) {
  .nav-menu-page-link a:after {
    -webkit-text-stroke: 1px #8c8c8c;
    -webkit-text-fill-color: transparent;
  }
}
.nav-menu-page-link a:hover:after {
  transform: translateX(0);
  opacity: 1;
}

.nav-menu-info-wrapper a {
  position: relative;
  color: #ffffff;
}
.nav-menu-info-wrapper a:before {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: 0.5s;
  color: #ffffff;
}
.nav-menu-info-wrapper a:hover:before {
  transform: translateX(100%);
  opacity: 0;
}
.nav-menu-info-wrapper a:after {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.5s;
  opacity: 0;
  color: #ffffff;
}
.nav-menu-info-wrapper a:hover:after {
  transform: translateX(0);
  opacity: 1;
}

/* ==MONTSERRAT== */
* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #777777;
  color: #ffffff;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Blinker", sans-serif;
  color: #ffffff;
  position: relative;
  background-color: #101010;
}

section {
  display: block;
}

ul {
  list-style: none;
}

a:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}

nav {
  position: relative;
  z-index: 20;
  display: flex;
  margin: 0 2rem;
  height: 5rem;
}
@media (min-width: 768px) {
  nav {
    height: 17vh;
    margin: 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  nav {
    height: 16vh;
  }
}

.nav-home-link-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  transition: all 0.5s ease;
}
.nav-btn:hover {
  cursor: pointer;
  opacity: 0.45;
}
.nav-btn .strokes {
  width: 1.4em;
  height: 1.4em;
  list-style: none;
  padding: 0;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateZ(0);
  color: #fff;
}
.nav-btn .strokes .stroke {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.75px;
  transform: translateY(-3.75px) translateZ(0);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-btn .strokes .stroke:last-child {
  transform: translateY(3.75px) translateZ(0);
}

.nav-btn.toggled .strokes .stroke {
  transform: rotate(45deg) translateZ(0);
}
.nav-btn.toggled .strokes .stroke:last-child {
  transform: rotate(-45deg) translateZ(0);
}

.nav-menu {
  z-index: 0;
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #101010;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-menu-container {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .nav-menu-container {
    flex-direction: row;
    margin: 0 10rem;
  }
}

.nav-menu-page-links {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
@media (min-width: 1280px) {
  .nav-menu-page-links {
    order: 2;
    margin-bottom: 0;
    line-height: 1;
  }
}

.nav-menu-page-link {
  transition: 0.5s;
}
.nav-menu-page-link.slide-in-one {
  animation-name: slide-left;
  animation-duration: 0.6s;
}
.nav-menu-page-link.slide-in-two {
  animation-name: slide-left;
  animation-duration: 0.8s;
}

.nav-menu-page-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: calc(25px + 4vw);
  font-weight: 800;
}
.nav-menu-page-link a.--contact {
  text-decoration: line-through;
  text-decoration-color: #f65252;
  text-decoration-thickness: 0.5rem;
  color: #ffffff;
}
.nav-menu-page-link a.--contact:before {
  content: "";
}
.nav-menu-page-link a.--contact:after {
  content: "";
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .nav-menu-page-link a.--contact {
    text-decoration-thickness: 1rem;
  }
}

.nav-menu-info {
  width: 100%;
}
@media (min-width: 1280px) {
  .nav-menu-info {
    display: flex;
    align-items: end;
    order: 1;
    flex: 1;
  }
}

.nav-menu-info-wrapper {
  font-family: "Blinker", sans-serif;
  display: inline-block;
  overflow: hidden;
}
.nav-menu-info-wrapper a {
  display: block;
  line-height: 1.5rem;
  text-decoration: none;
  outline: none;
  color: transparent;
}
@media (min-width: 1280px) {
  .nav-menu-info-wrapper a {
    line-height: 1.5;
    font-size: 22px;
    font-weight: 600;
  }
}
.nav-menu-info-wrapper a.slide-in-one {
  animation-name: slide-right;
  animation-duration: 0.6s;
}
.nav-menu-info-wrapper a.slide-in-two {
  animation-name: slide-right;
  animation-duration: 0.8s;
}

.nav-menu-footer {
  display: flex;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nav-menu-footer {
    bottom: 8.5vh;
    margin: 0 3.5rem;
  }
}
.nav-menu-footer .nav-menu-social-links {
  flex: 1;
}
.nav-menu-footer .nav-menu-social-links a {
  margin-right: 1rem;
}
.nav-menu-footer .nav-menu-social-links a svg {
  fill: #ffffff;
}
.nav-menu-footer .nav-menu-social-links a svg.transition-in {
  animation-name: slide-up;
  animation-duration: 0.6s;
}
.nav-menu-footer span {
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  font-size: 0.812rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-align: right;
}
.nav-menu-footer span.transition-in {
  animation-name: slide-up;
  animation-duration: 0.6s;
}

::-webkit-scrollbar {
  width: 0;
}

#progress_body {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.5rem;
  background: #ffffff;
  border-radius: 0 0 2px 2px;
}
#progress_body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}
#progress_body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}

#progress_path {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background: transparent;
}

@keyframes slide-left {
  from {
    transform: translateX(55%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-55%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.hero {
  height: calc(100vh - 5rem);
}

.hero-arrow-container {
  text-align: center;
  position: absolute;
}
@media (max-width: 1279px) {
  .hero-arrow-container {
    left: 0;
    right: 0;
    top: 80vh;
  }
}
@media (min-width: 1280px) {
  .hero-arrow-container {
    top: 85vh;
    right: 4vw;
  }
}

.hero-arrow {
  font-size: 58px;
}
.hero-arrow svg {
  fill: #101010;
  stroke: #8c8c8c;
  stroke-width: 1px;
}

.section-wrapper {
  padding: 3rem 0;
}

.section-header {
  margin-bottom: 2rem;
  font-size: calc(20px + 2.1vw);
}
@media (min-width: 1280px) {
  .section-header {
    font-size: 3rem;
  }
}

.section-text {
  margin: 0 2rem;
  font-size: calc(12px + 1vw);
  line-height: 1.7;
}
@media (min-width: 361px) and (max-width: 414px) {
  .section-text {
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .section-text {
    font-size: 1.3rem;
  }
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

@media (min-width: 360px) and (max-width: 414px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-block {
    display: block;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-block {
    display: block;
  }
}
.carousel {
  height: calc(100vh - 5rem);
  position: relative;
  z-index: 1;
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel {
    display: flex;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  .carousel {
    height: calc(83vh);
  }
}

.carousel-btn-container {
  justify-content: center;
  display: flex;
}
@media (min-width: 769px) and (max-width: 1920px) {
  .carousel-btn-container {
    margin-top: -17vh;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel-btn-container {
    justify-content: center;
    flex-direction: column;
  }
}

.carousel-btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel-btn {
    font-size: 58px;
  }
  .carousel-btn svg {
    fill: #101010;
    stroke: #8c8c8c;
    stroke-width: 1px;
  }
}

.carousel-prev {
  margin-left: 0rem;
}
@media (min-width: 768px) and (max-width: 1920px) {
  .carousel-prev {
    margin-left: 3.5rem;
  }
}

.carousel-next {
  margin-right: 0rem;
}
@media (min-width: 768px) and (max-width: 1920px) {
  .carousel-next {
    margin-right: 3.5rem;
  }
}

@supports (-webkit-text-stroke: 1px #8c8c8c) {
  .carousel-btn {
    -webkit-text-stroke: 1px #8c8c8c;
    -webkit-text-fill-color: #101010;
  }
}
.carousel-projects {
  margin: 1rem auto;
}
@media (min-width: 360px) and (max-width: 374px) {
  .carousel-projects {
    margin: 0.5rem auto;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel-projects {
    width: 70%;
    margin: 1rem auto;
  }
}

.carousel-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 68vh;
  position: relative;
}
@media (min-width: 361px) and (max-width: 414px) {
  .carousel-cell {
    width: 375px;
    height: 68vh;
  }
}
@media (min-width: 415px) and (max-width: 1280px) {
  .carousel-cell {
    width: 100%;
    height: 75vh;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel-cell {
    width: 100%;
  }
}
.carousel-cell img {
  z-index: 10;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1920px) {
  .carousel-cell img {
    width: 85%;
  }
}
.carousel-cell h3 {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: calc(20px + 2.1vw);
}
@media (min-width: 360px) and (max-width: 768px) {
  .carousel-cell h3 {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .carousel-cell h3 {
    right: 0;
    bottom: 4rem;
  }
}

.uses-hero-container {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
}
@media (min-width: 1280px) {
  .uses-hero-container {
    top: 16vh;
    display: flex;
    justify-content: center;
    height: calc(100vh - 30vh);
  }
}

.uses-hero-header {
  font-size: calc(25px + 4vw);
  line-height: 1.3;
}
@media (max-width: 768px) {
  .uses-hero-header {
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .uses-hero-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }
}
.uses-hero-header span {
  display: block;
}

.uses-question-marks-container {
  text-align: center;
}
@media (max-width: 768px) {
  .uses-question-marks-container {
    margin-bottom: 6rem;
  }
}
@media (min-width: 1280px) {
  .uses-question-marks-container {
    display: flex;
    flex: 1;
    flex-flow: row-reverse;
  }
}
@media (min-width: 1280px) {
  .uses-question-marks-container img {
    height: 25rem;
  }
}

/*==ABOUT-HERO==*/
.about-hero-wrapper {
  position: absolute;
  right: 1.5rem;
}
@media (min-width: 414px) {
  .about-hero-wrapper {
    position: relative;
    display: flex;
    right: -1rem;
  }
}

.about-hero-container {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .about-hero-container {
    top: 16vh;
  }
}

.about-hero-circle {
  height: calc(16rem + 10vw);
  width: calc(16rem + 10vw);
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  display: flex;
}
@media (min-width: 414px) {
  .about-hero-circle {
    height: calc(16rem + 17vw);
    width: calc(16rem + 17vw);
  }
}
@media (min-width: 768px) {
  .about-hero-circle {
    height: calc(16rem + 20vw);
    width: calc(16rem + 20vw);
  }
}

.about-hero-header-wrapper {
  position: relative;
  top: 9vh;
  left: -1.5rem;
}
@media (min-width: 375px) {
  .about-hero-header-wrapper {
    left: -2.3rem;
  }
}
@media (min-width: 1280px) {
  .about-hero-header-wrapper {
    left: calc(-4rem + -15vw);
    top: 16vh;
  }
}

.about-hero-header-container {
  background-color: #101010;
  font-family: "Montserrat", sans-serif;
  border-top: 0.8rem solid #101010;
  border-bottom: 0.8rem solid #101010;
  border-top-right-radius: 18%;
}
.about-hero-header-container h2 {
  font-size: calc(22px + 4vw);
  margin-bottom: 0.6rem;
}
@media (min-width: 414px) {
  .about-hero-header-container h2 {
    font-size: calc(21px + 4vw);
  }
}
@media (min-width: 1280px) {
  .about-hero-header-container h2 {
    width: 110%;
  }
}
@media (min-width: 1920px) {
  .about-hero-header-container h2 {
    width: 130%;
  }
}
.about-hero-header-container p {
  font-size: calc(13px + 2vw);
  font-weight: 700;
  margin-bottom: 0.6rem;
}
@media (min-width: 1280px) {
  .about-hero-header-container p {
    width: 130%;
  }
}
@media (min-width: 1920px) {
  .about-hero-header-container p {
    width: 150%;
  }
}
.about-hero-header-container span {
  font-size: calc(13px + 2vw);
  font-weight: 700;
}

.about-hero-date-container {
  position: absolute;
  bottom: 10%;
  left: 81%;
}

.about-hero-date {
  background-color: #101010;
  font-family: "Montserrat", sans-serif;
  font-size: calc(20px + 2.1vw);
  font-weight: 700;
}

.works-hero-header {
  position: relative;
  font-size: calc(25px + 4vw);
  text-align: center;
  line-height: 1.3;
  margin: 10% 0 4rem;
}
@media (min-width: 361px) and (max-width: 414px) {
  .works-hero-header {
    font-size: calc(25px + 4vw);
  }
}
@media (min-width: 405px) and (max-width: 490px) {
  .works-hero-header {
    font-size: 35px;
  }
}

.project-details {
  width: 30%;
  margin: 0 2rem;
}

.project-right-variant .project-details,
.project-right-variant .project-buttons-container {
  order: 2;
}

.project-number {
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 3px;
}

.project-left-variant .project-number {
  padding-left: 0.8rem;
  border-left: 4px solid #f65252;
}

.project-right-variant .project-number {
  padding-right: 0.8rem;
  border-right: 4px solid #f65252;
  text-align: right;
}

.project-title {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: calc(20px + 2.1vw);
  letter-spacing: 1px;
}

.project-description {
  font-family: "Blinker", sans-serif;
  font-size: calc(12px + 1vw);
  color: #8c8c8c;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.project-right-variant .project-title,
.project-right-variant .project-description {
  text-align: right;
}

.project-website-info {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
}

.project-right-variant .project-image-container,
.project-right-variant .project-website-info {
  order: 1;
}

.project-buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  align-self: flex-end;
}

.project-button {
  color: #ffffff;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.project-image-container {
  width: 800px;
  margin-top: 1.5rem;
  overflow: hidden;
}

.project-image {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) sepia(10%);
  transition: filter 0.3s ease-in-out;
}

.project-image:hover {
  filter: grayscale(0%) sepia(0%);
}

.project-sm-left-variant, .project-sm-right-variant {
  margin-bottom: 4rem;
}

.project-sm-left-variant .project-number {
  padding-left: 0.8rem;
  border-left: 4px solid #f65252;
}

.project-sm-right-variant .project-number {
  padding-right: 0.8rem;
  border-right: 4px solid #f65252;
}

.project-sm-right-variant .project-number,
.project-sm-right-variant .project-title,
.project-sm-right-variant .project-description {
  text-align: right;
}

.project-sm .project-image-container {
  width: 100%;
  margin-bottom: 1rem;
}

.project-links-container {
  display: flex;
}

.project-sm-right-variant .project-links-container {
  flex-direction: row-reverse;
}

.project-link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 1rem;
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-weight: 700;
}
.project-link.disabled {
  text-decoration: line-through;
  text-decoration-color: #f65252;
  text-decoration-thickness: 2px;
  cursor: text;
}

.project-sm-right-variant .project-link {
  margin-right: 0;
  margin-left: 1.3rem;
}

.sep-1 {
  height: 1rem;
}

.sep-2 {
  height: 2rem;
}

#about-who .section-header, .uses-section .section-header {
  text-align: center;
}
@media (min-width: 1280px) {
  #about-who .section-header, .uses-section .section-header {
    text-align: left;
    margin: 0 8rem 2rem;
    max-width: 1920px;
  }
}
#about-who .section-text, .uses-section .section-text {
  text-align: center;
}
@media (min-width: 1280px) {
  #about-who .section-text, .uses-section .section-text {
    text-align: left;
    margin: 0 8rem;
    max-width: 1920px;
  }
}

/*# sourceMappingURL=app.css.map */
