/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
.container, .nav-menu-footer, .nav-menu-container, nav {
  margin: 0 2rem;
}
@media (min-width: 361px) and (max-width: 414px) {
  .container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 5rem;
    max-width: 1280px;
  }
}
@media (min-width: 1367px) and (max-width: 1920px) {
  .container, .nav-menu-footer, .nav-menu-container, nav {
    margin: 0 8rem;
    max-width: 1920px;
  }
}

.nav-menu-footer .nav-menu-social-links a, .nav-menu-info-wrapper a {
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-footer .nav-menu-social-links a:hover, .nav-menu-info-wrapper a:hover {
  color: #101010;
  transition: 0.3s;
}

/* ==MONTSERRAT== */
* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #777777;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Blinker", sans-serif;
  color: #ffffff;
  position: relative;
  background-color: #101010;
}

ul {
  list-style: none;
}

a:hover {
  transition: 0.25s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}

nav {
  position: relative;
  z-index: 20;
  display: flex;
  margin: 0 2rem;
  height: 5rem;
}
@media (min-width: 769px) and (max-width: 1920px) {
  nav {
    height: 17vh;
  }
}
nav a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  transition: all 0.5s ease;
}
.nav-btn:hover {
  cursor: pointer;
  opacity: 0.45;
}
.nav-btn .strokes {
  width: 1.4em;
  height: 1.4em;
  list-style: none;
  padding: 0;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateZ(0);
  color: #fff;
}
.nav-btn .strokes .stroke {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.75px;
  transform: translateY(-3.75px) translateZ(0);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-btn .strokes .stroke:last-child {
  transform: translateY(3.75px) translateZ(0);
}

.nav-btn.toggled .strokes .stroke {
  transform: rotate(45deg) translateZ(0);
}
.nav-btn.toggled .strokes .stroke:last-child {
  transform: rotate(-45deg) translateZ(0);
}

.nav-menu {
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #101010;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.nav-menu-container {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: column;
}

.nav-menu-page-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.nav-menu-page-link.slide-in-one {
  animation-name: slide-left;
  animation-duration: 0.6s;
}
.nav-menu-page-link.slide-in-two {
  animation-name: slide-left;
  animation-duration: 0.8s;
}

.nav-menu-page-link a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-menu-info {
  width: 100%;
}

.nav-menu-info-wrapper {
  font-family: "Blinker", sans-serif;
  display: inline-block;
  overflow: hidden;
}
.nav-menu-info-wrapper a {
  display: block;
  line-height: 1.5rem;
}
.nav-menu-info-wrapper a.slide-in-one {
  animation-name: slide-right;
  animation-duration: 0.6s;
}
.nav-menu-info-wrapper a.slide-in-two {
  animation-name: slide-right;
  animation-duration: 0.8s;
}

.nav-menu-footer {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  overflow: hidden;
}
.nav-menu-footer .nav-menu-social-links {
  flex: 1;
}
.nav-menu-footer .nav-menu-social-links a {
  margin-right: 0.5rem;
}
.nav-menu-footer .nav-menu-social-links a svg {
  fill: #ffffff;
}
.nav-menu-footer .nav-menu-social-links a svg.transition-in {
  animation-name: slide-up;
  animation-duration: 0.6s;
}
.nav-menu-footer span {
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  font-size: 0.812rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #8c8c8c;
  text-align: right;
}
.nav-menu-footer span.transition-in {
  animation-name: slide-up;
  animation-duration: 0.6s;
}

.carousel {
  position: relative;
  z-index: 1;
}

.carousel-btn-container {
  text-align: center;
}

.carousel-btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
}

@supports (-webkit-text-stroke: 1px #8c8c8c) {
  .carousel-btn {
    -webkit-text-stroke: 1px #8c8c8c;
    -webkit-text-fill-color: #101010;
  }
}
.carousel-projects {
  margin: 1rem 0;
}
@media (min-width: 360px) and (max-width: 374px) {
  .carousel-projects {
    margin: 0.5rem 0;
  }
}

.carousel-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 425px;
  position: relative;
}
@media (min-width: 361px) and (max-width: 375px) {
  .carousel-cell {
    width: 375px;
    height: 445px;
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .carousel-cell {
    width: 100%;
    height: 580px;
  }
}
.carousel-cell img {
  z-index: 10;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-cell h3 {
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 35px;
}

@keyframes slide-left {
  from {
    transform: translateX(55%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-55%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=app.css.map */
