/* ===COLORS=== */
/* ===TYPOGRAPHY=== */
* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #777777;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Blinker", sans-serif;
  color: #ffffff;
  position: relative;
  background-color: #101010;
}

ul {
  list-style: none;
}

a:hover {
  transition: 0.25s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
}

/* ==MONTSERRAT== */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "100";
  font-style: "thin";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "200";
  font-style: "light";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "300";
  font-style: "book";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "400";
  font-style: "normal";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "500";
  font-style: "medium";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "600";
  font-style: "semi-bold";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "700";
  font-style: "bold";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "800";
  font-style: "extra-bold";
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/monument/Montserrat.otf");
  font-weight: "900";
  font-style: "black";
}
/* ==BLINKER== */
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-Thin.ttf");
  font-weight: "100";
  font-style: "thin";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-Light.ttf");
  font-weight: "200";
  font-style: "light";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-Regular.ttf");
  font-weight: "400";
  font-style: "normal";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-SemiBold.ttf");
  font-weight: "600";
  font-style: "semi-bold";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-Bold.ttf");
  font-weight: "700";
  font-style: "bold";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-ExtraBold.ttf");
  font-weight: "800";
  font-style: "extra-bold";
}
@font-face {
  font-family: "Blinker";
  src: url("../fonts/blinker/Blinker-Black.ttf");
  font-weight: "900";
  font-style: "black";
}
nav {
  position: relative;
  z-index: 20;
  display: flex;
  margin: 0 2rem;
  height: 5rem;
}
@media (min-width: 361px) and (max-width: 414px) {
  nav {
    margin: 0 2rem;
    height: 5rem;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  nav {
    margin: 0 5rem;
    max-width: 1280px;
  }
}
@media (min-width: 1367px) and (max-width: 1920px) {
  nav {
    margin: 0 8rem;
    max-width: 1920px;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  nav {
    height: 17vh;
  }
}
nav a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  transition: all 0.5s ease;
}
.nav-btn:hover {
  cursor: pointer;
  opacity: 0.45;
}
.nav-btn .strokes {
  width: 1.4em;
  height: 1.4em;
  list-style: none;
  padding: 0;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateZ(0);
  color: #fff;
}
.nav-btn .strokes .stroke {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.75px;
  transform: translateY(-3.75px) translateZ(0);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-btn .strokes .stroke:last-child {
  transform: translateY(3.75px) translateZ(0);
}

.nav-btn.toggled .strokes .stroke {
  transform: rotate(45deg) translateZ(0);
}
.nav-btn.toggled .strokes .stroke:last-child {
  transform: rotate(-45deg) translateZ(0);
}

.nav-menu {
  z-index: 10;
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #101010;
}

.carousel .carousel-btn-container {
  text-align: center;
}
.carousel .carousel-btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
}
@supports (-webkit-text-stroke: 1px #8c8c8c) {
  .carousel .carousel-btn {
    -webkit-text-stroke: 1px #8c8c8c;
    -webkit-text-fill-color: #101010;
  }
}

.carousel-projects {
  margin: 1rem 0;
}
@media (min-width: 360px) and (max-width: 374px) {
  .carousel-projects {
    margin: 0.5rem 0;
  }
}

.carousel-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 425px;
  position: relative;
}
@media (min-width: 361px) and (max-width: 375px) {
  .carousel-cell {
    width: 375px;
    height: 445px;
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .carousel-cell {
    width: 100%;
    height: 580px;
  }
}
.carousel-cell img {
  z-index: 10;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-cell h3 {
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 35px;
}

.container {
  margin: 0 2rem;
}
@media (min-width: 361px) and (max-width: 414px) {
  .container {
    margin: 0 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .container {
    margin: 0 5rem;
    max-width: 1280px;
  }
}
@media (min-width: 1367px) and (max-width: 1920px) {
  .container {
    margin: 0 8rem;
    max-width: 1920px;
  }
}

/*# sourceMappingURL=app.css.map */
