/* ===COLORS=== */
$white: #ffffff;
$black: #000000;
$cod-gray: #101010;
$suva-gray: #8c8c8c;
$grey: #777777;
$coral: #f65252;
$cerebral-gray: #cccccc;

$cranberry: #d54d81;
$echo-blue: #15181c;
$discord-gray: #2c2f33;
$inventing-happiness: #f1f1f3;

/* ===TYPOGRAPHY=== */
// font-family
$montserrat: "Montserrat", sans-serif;
$blinker: "Blinker", sans-serif;

// font-size
$like-h2: calc(25px + 4vw);
$like-h3: calc(20px + 2.1vw);
$like-h3-max: 3rem;
$like-h4: calc(13px + 2vw);
$regular-text: calc(12px + 1vw);
$regular-text-max: 1.3rem;

// font-weights
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// line-height
$regular-text-lineheight: 1.7;
